bld() { cmake --preset "${1:-debug}" && cmake --build --preset "${1:-debug}"; }
run() { bld "${1:-debug}" && "./bin/${1:-debug}/game"; }
tst() { ctest --preset "${1:-debug}" }
format() { find "${1}" -name '*.cc' -o -name '*.hh' | xargs clang-format -i; }
lint() { run-clang-tidy -p build/debug -source-filter='^(?!.*(_deps|tests|test)).*/(engine|game)/.*' -j$(nproc); }
